@using Amiibo.Models;
@model AmiiboViewModel
@{
    ViewData["Title"] = $"NintendoAmiibo - {Model.NintendoAmiibo.Character}";
}

<h1>@Model.NintendoAmiibo.Character</h1>

<div class="row">
    <div class="col-md-8">
        <img src="@Model.NintendoAmiibo.Image" alt="@Model.NintendoAmiibo.Name" style="height: 96px"/>
        
        <h2>Name</h2>
        @Model.NintendoAmiibo.Name
        
        <h2>Release</h2>
        @Model.NintendoAmiibo.Release
    </div>
</div>